@import "gridTabStyle.css";

.tab {
    -fx-hgap: 50;
    -fx-vgap: 20;
    -fx-alignment: center;
}

.text-area {
    -fx-pref-width: 200px;
    -fx-pref-height: 15px;
}

#unknownName {
    -fx-font-size: 20px;
    -fx-font-family: "Roboto Slab";
    -fx-text-fill: #254e86;
    -fx-alignment: center;
}

#errorLabel {
    -fx-max-width: 550px;
}